.taskContainer{
    width: 33%;
}

.task{
    display: flex;
    flex-direction: column;
    height: 0px;
    visibility: hidden;
    align-items: center;
    justify-items: center;
}

.activeTask{
    height: auto;
    visibility: visible;
}

.textFieldCard{
    width: 100%;
    border-radius: 10px !important;
    display: flex;
    flex-direction: row;
}

.textFieldCardFull{
    width: 90%;
    padding: 15px;
    border-radius: 20px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
}

.innerCardColumnFull{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    text-align: left;
    padding:10px;
}

.innerCardColumnRight{
    width: 50%;
    display: flex;
    justify-items: center;
    align-items: center;
}

.innerCardColumnLeft{
    width: 50%;
    display: flex;
    margin: 5px;
    flex-direction: column;
    text-align: left;
}

.inputBoxes{
    width: 100% !important;
    margin: 5px !important;
}

.summaryBoxes{
    width: 100% !important;
    margin-top: 10px !important;
}

.taskSlider{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: #ffffff;
}

.sliderFieldCard{
    width: 90%;
    border-radius: 25px !important;
    justify-items: center;
    align-items: center;
    margin: 15px;
    padding-right: 10px;
    padding-left: 10px;
}

.textFieldCardFull h6{
    color: #E76F51;
    font-size: 14px;
}

@media all and (max-width:1200px)
{
    .taskContainer{
        width: 50%;
    }
}

@media all and (max-width:1000px)
{
    .taskContainer{
        width: 60%;
    }
}

@media all and (max-width:800px)
{
    .taskContainer{
        width: 90%;
    }
}
