.commonSlider{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff !important;
    border-radius: 15px !important;
    padding: 10px;
    margin: 10px;
}

.slider{
    width: 90%;
}

@media all and (max-width:1200px)
{
    .commonSlider{
        width: 50%;
    }
}

@media all and (max-width:1000px)
{
    .commonSlider{
        width: 60%;
    }
}

@media all and (max-width:800px)
{
    .commonSlider{
        width: 80%;
    }
}
