.header {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: white;
  }

.logo{
    width: 150px;
}

.emoji{
    width: 50px;
}

.navigation{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}

.navigationObject{
    width: 220px;
    padding: 10px;
    margin-left: 60px;
    background-color: #d59c66;
    border-radius: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.landing{
    display: flex;
    flex-direction: column;
}

.landingPage{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
  }
  
  .learnMore{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .landingArrow{
    width: 20px;
  }