.landing{
  width:100%;
  background-size:cover;
}

.landingPageHeader{
  float: left;
  width: 50%;
}

.landingPageForm{
  float: right;
  width: 50%;
}

h1{
  margin: 0;
  white-space: nowrap;
}

h6{
  margin:0;
}

.heading{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-right: 30px;
}

.hook{
  font-weight: 600;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
}

.emojiSmall{
  width: 25px;
  padding-left: 5px;
}

.landingPage{
  width:100%;
  display: flex;
  flex-direction: row;
}
  
.learnMore{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  font-weight: 100;
}

.learnMore > h6{
  font-weight: 200;
  cursor: pointer;
}

.workingSection{
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 30px;
  max-width: 900px;
}

.textSection{
  display: flex;
  flex-direction: column;
}

.landingImage{
  width: 350px;
}

@media all and (max-width:800px)
{
  .landingPageForm, .landingPageHeader{
    display: block;
    float: none;
    width: 100%;
    text-align: center;
  }
  .landingPage{
    display: flex;
    flex-direction: column;
  }
  h6{
    font-size: 2.5vmin;
  }
  .ml-embedded{
    padding-left: 10px;
    padding-right: 10px;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
  }
  h4{
    text-align: center !important;
  }
  .landingPageForm p{
    text-align: center !important;
  }
}

@media all and (max-width:700px)
{
  h6{
    font-size: 3.25vmin;
  }
}

.landingArrow {
  animation: MoveUpDown 2s linear infinite;
  left: 0;
  bottom: 0;
  width: 20px;
  margin: 20px;
  cursor: pointer;
}

@keyframes MoveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

