.scrolling-wrapper-flexbox {
    display: flex;
    width: 33%;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding-right: 10px;
    padding-left: 15px;
    margin-top: 10px;
    border-radius: 25px;
    align-items: center;
}
.taskCard {
    flex: 0 0 auto;
    display: flex;
    margin: 10px;
    width: 80px;
    border-radius: 25px !important;
    align-content: center;
}
.active{
    background-color: #fe3c3987 !important;
}
.taskImage{
    width: 40px;
}
.taskText{
    margin-top: 5px;
    margin-bottom: 0;
}
.fade {
    -webkit-mask: 
    linear-gradient(90deg, #000 90%, transparent) right,
    linear-gradient( 270deg, #000 92%, transparent) left;
    -webkit-mask-size:80% 100%; /* each one half the size */
    -webkit-mask-repeat:no-repeat; /* don't forget this */
}

@media all and (max-width:1200px)
{
    .scrolling-wrapper-flexbox{
        width: 50%;
    }
}

@media all and (max-width:1000px)
{
    .scrolling-wrapper-flexbox{
        width: 60%;
    }
}

@media all and (max-width:800px)
{
    .scrolling-wrapper-flexbox{
        width: 90%;
    }
}
