.demo{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    background-color: #ffffff;
}

.promptWrap{
    display: flex;
    width:33%;
}

.prompt{
    margin:15px;
}

.submitButton{
    width: 33%;
    background-color: #E76F51 !important;
    margin: 25px !important;
    padding: 15px !important;
}

@media all and (max-width:1200px)
{
    .promptWrap{
        width: 50%;
    }
    .submitButton{
        width: 50%;
    }
}

@media all and (max-width:1000px)
{
    .promptWrap{
        width: 60%;
    }
    .submitButton{
        width: 60%;
    }
}

@media all and (max-width:800px)
{
    .promptWrap{
        width: 90%;
    }
    .submitButton{
        width: 90%;
    }
}