.submission{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.submissionPage{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vw;
    max-width: 1300px;
    text-align: center;
  }
  
  .submissionBody{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5vw;
    margin-right: 5vw;
  }
  
  .submissionPageContents{
    display: flex;
    flex-direction: column;
  }

.submitButton{
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 0.325926px 0.733333px 0px, rgba(0, 0, 0, 0.07) 0px 1.540741px 2.866667px 0px, rgba(0, 0, 0, 0.05) 0px 4px 9px 0px;
    -webkit-font-smoothing: antialiased;
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(18, 18, 18);
    background-image: none;
    background-origin: padding-box;
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(255, 255, 255);
    border-left-style: none;
    border-left-width: 0px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: none;
    border-right-width: 0px;
    border-top-color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-style: none;
    border-top-width: 0px;
    color: rgb(255, 255, 255);
    font-size: 13.5px;
    font-weight: 554;
    height: 30px;
    justify-content: center;
    letter-spacing: 0.10125px;
    line-height: 19px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    min-height: 30px;
    min-width: 0px;
    padding-bottom: 4px;
    padding-left: 11px;
    padding-right: 11px;
    padding-top: 4px;
    text-align: left;
    text-decoration: none;
    text-decoration-line: none;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 10px;
    width: fit-content;
}

.loader {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: block;
    margin:15px auto;
    position: relative;
    color: #fe3d39;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: -38px -12px ,  -14px 0,  14px 0, 38px 0;
    }
    33% {
      box-shadow: -38px 0px, -14px -12px,  14px 0, 38px 0;
    }
    66% {
      box-shadow: -38px 0px , -14px 0, 14px -12px, 38px 0;
    }
    100% {
      box-shadow: -38px 0 , -14px 0, 14px 0 , 38px -12px;
    }
  }
  
    