.header {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #efebe0;
    width: 100%;
    justify-content: space-between;
  }

.logo{
    width: 150px;
    margin-left: 30px;
    margin-right: 30px;
}

.emoji{
    width: 50px;
}

.navigationObject{
    margin: 20px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #EDDBC6;
    border-radius: 20px;
    align-items: center;
}
