html, body, #root,  #app, #app>div {
  height: 100%
}

.App {
  display: flex;
  flex-direction: column;
  background-color: #efebe0;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.h3{
  font-size: 18px;
}
.h6{
  font-size: 12px;
  margin: 5px;
}
.highlightRed {
  color: #8c0000;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}